/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	color: #333;
}
a {
	color: #2e587e;
	text-decoration: none;
}
a:hover {
	color: #528eb2;
}

.wrapper {
	font-size: 0.92em;
	margin: 0 auto;
	position: relative;
	width: 960px;
}

	/* Header ------------------------------------------------------------------ */
	header {
		padding: 10px 0;
		position: relative;
	}
		header .wrapper {
			border-bottom: 1px solid #528eb2;
			height: 100%;
			overflow: hidden;
			padding-bottom: 10px;
		}
			#logo {
				display: inline;
				float: left;
				margin-left: 10px;
				width: auto;
			}
			
			header nav {
				display: inline;
				float: right;
				margin: 20px 30px 0 0;
				width: auto;
			}
				header nav ul {
					margin: 0;
					padding: 0;	
				}
					header nav li {
						border-right: 1px solid #ccc;
						display: inline;
						float: left;
						width: auto;
					}
					header nav li.last {
						border: none;
					}
						header nav li a {
							font-weight: bold;
							padding: 0 10px;
						}
						header nav li.current-menu-item a {
							text-decoration: underline;						
						}
	
	
	/* Content ----------------------------------------------------------------- */
	#content-body {
		height: 100%;
		overflow: hidden;
	}
	
		div[role="main"] {
			display: inline;
			float: left;
			margin: 10px;
			width: 580px;
		}
		
		div.full-width {
			width: 940px;	
		}
		
		#about {
			font-size: 1.07em;
			padding: 10px;
		}
		
			h1.entry-title, 
			div[role="main"] h2 {
				border-bottom: 1px solid #528eb2;
				color: #528eb2;
				font-weight: normal;
				padding-left: 10px;
			}
			h1.entry-title {
				margin: 0;	
			}
			
			article {
				padding: 20px;
			}
				article h3.entry-title {
					line-height: 0.5;
					margin: 0;	
				}
				article span.meta {
					color: #999;
					font-size: 0.78em;
				}
				.more-link {
					font-size: 0.85em;
					font-weight: bold;
				}
				
			.entry-content {
				padding: 10px 20px;
			}
		
		aside[role="complementary"] {
			display: inline;
			float: right;
			font-size: 0.85em;
			margin: 36px 10px 10px;
			width: 340px;
		}
		
			aside section {
				background: #fff;
				border: 1px solid #528eb2;
				border-radius: 2px;
				box-shadow: 0 1px 3px #ccc;
				margin-bottom: 10px;
				padding: 10px;	
			}
				aside section h2 {
					border-bottom: 2px solid #528eb2;
					color: #528eb2;
					font-size: 1.25em;
					margin-top: 0;
					padding: 0 3px;
				}
		
				aside ul {
					margin: 0;
					padding: 0;
				}
					aside li {
						list-style: none;
						margin-bottom: 15px;
					}
				
				#challenges ul {
					border-bottom: 1px solid #eee;
					margin-bottom: 15px;
				}
					#challenges li a {
						font-style: italic;
					}
					
				#smartsheet-blog li, 
				#twitter li {
					border-bottom: 1px solid #eee;
					padding-bottom: 10px;
				}
	
				aside a.view-all {
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					border-radius: 2px;
					background-color: #528eb2;
					border: solid 1px #2e587e;
					background-image: -webkit-linear-gradient(bottom, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));
					background-image: -moz-linear-gradient(bottom, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));
					background-image: -o-linear-gradient(bottom, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));
					background-image: -ms-linear-gradient(bottom, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));
					background-image: linear-gradient(to top, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));
					color: #fff;
					display: block;
					font-weight: bold;
					height: 30px;
					line-height: 30px;
					margin: 0 auto;
					text-align: center;
					width: 100px;
				}
				aside a.view-all:hover {
					background-image: -webkit-linear-gradient(top, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));
					background-image: -moz-linear-gradient(top, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));
					background-image: -o-linear-gradient(top, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));
					background-image: -ms-linear-gradient(top, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));
					background-image: linear-gradient(to bottom, rgba(46,88,126,.6) 1%, rgba(46,88,126,0));					
					-webkit-box-shadow: 0 1px 3px #999;
					-moz-box-shadow: 0 1px 3px #999;
					box-shadow: 0 1px 3px #999;
				}
	
	/* Footer ------------------------------------------------------------------ */
	footer {
		border-top: 1px solid #528eb2;
		font-size: smaller;
		padding: 10px 0 30px;
		
	}
		footer nav {
			clear: both;
			height: 100%;
			margin-top: 20px;
			overflow: hidden;
		}
		#footer-links {
			margin: 0;
			padding: 0;
			width: auto;
		}
			#footer-links li {
				border-right: 1px solid #ccc;
				display: inline;
				float: left;
				width: auto;
			}
			#footer-links li.last {
				border: none;
			}
				#footer-links li a {
					padding: 0 10px;
				}
				#footer-links li.current-menu-item a {
					text-decoration: underline;						
				}			
			
		#share {
			position: absolute;
			right: 10px;
			top: 0;
			width: auto;
		}
			#share ul {
				margin: 0;
				padding: 0;
			}
				#share li {
					display: inline;
					height: 24px;
					float: left;
					margin: 0 3px;
					width: 24px;
				}
					#share li a {
						border-radius: 12px;
						display: block;
						height: 24px;
						opacity: 0.5;
						width: 24px;
					}
					#share li a:hover { opacity: 1; }
					#share .facebook { background: url(../i/facebook.png) no-repeat; }
					#share .youtube { background: url(../i/youtube.png) no-repeat; }
					#share .twitter { background: url(../i/twitter.png) no-repeat; }
					#share .linkedin { background: url(../i/linked_in.png) no-repeat; }
		
		#copyright {
			color: #999;
			margin: 10px 0 0 10px;
		}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
